$darkblue: #063560;
$darkgrey: #4E5560;
$jet: #2F2F2F;
$mustard: #FFC857;
$white: #ffffff;

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: wrap;
    margin: 10px;
}

html body {
    height: 100%;
    font-size: 62.5%;
    background-color: $darkgrey;
}

h1 {
    color: $white;
    margin: 10px;
}

.ui.icon.button {
    margin: 3px;
    border-radius: 0rem;
    color: $jet;
    width: 3rem;
}

#app {
    height: 100%
}

.main-nav {
    padding: 5px;
    margin-right: 10px;
    width: 100%;
}

.ui.button.resetButton {
    height: inherit;
}

.list-container {
    -webkit-flex: 4;
    flex: 4;
    height: 627px;


    .list-body {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        -webkit-flex: 4;
        flex: 4;
        padding: 5px;
        overflow: hidden;
        background-color: white;
        min-height: 627px;
    }

    .card-entries {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        flex-flow: wrap;
        -webkit-flex: 3;
        flex: 3;
        height: 100%;
    }

    .ui.menu {
        border-bottom: 0px;
        margin: 0 0 0 0;
        max-height: 0%;
        background-color: $white; 
        border-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui.search .prompt {
        border-radius: 10px;
    }

    .ui.button.next-button {
        margin-left: auto;
    }
}

.img-container {
    overflow: hidden;
    width: calc(100% / 4);
}

img.hsImage {
    width: 85%;
    display: block;
    margin: -15px auto;

    &:hover {
        cursor: pointer;
    }
}

.deck-container {
    margin: 0px 0px 0px 5px;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-flex: 1;
    flex: 1;
    height: 627px;

    .deck-list {
        line-height: 2rem;

        :nth-child(2) {
            margin-top: 15px;
        }
    }

    .deck-card {
        margin: .25rem;
        border: 1px solid;
        border-radius: 5px;
        -webkit-animation-name: card-add;
        -webkit-animation-duration: .5s;
        animation-name: card-add;
        animation-duration: .5s;

        &:hover {
            cursor: pointer;
            background-color: $mustard;
        }

        
    }
    .mana {
        display: inline-block;
        color: $white;
        background-color: $darkblue;
        text-align: center;
        width: 6%;
        height: 29px;
    }

    span.count {
        float: right;
        text-align: center;
        color: $mustard;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 1.4rem solid $jet;
        border-bottom: 29px solid $jet;

    }
}

i.star.icon {
    width: 0;
    height: 0;
}

.mana-bar {
    position: relative;
    margin: auto;
    width: 100%;
    -webkit-align-self: flex-start;

    .ui.buttons {
        margin-left: 25%;
        position: absolute;
    }
}

@-webkit-keyframes card-add {
    0% {
        background-color: color($mustard/4);
        left: 10px;
        top: 0px;
    }
    50% {
        background-color: color($mustard/2);
        left: 10px;
        top: 0px;
    }
    100% {
        background-color: $mustard;
        left: 0px;
        top: 0px;
    }
}

@keyframes card-add {
    0% {
        background-color: color($mustard/4);
        left: 10px;
        top: 0px;
    }
    50% {
        background-color: color($mustard/2);
        left: 10px;
        top: 0px;
    }
    100% {
        background-color: $mustard;
        left: 0px;
        top: 0px;
    }
}
