/* This file is for your main application css. */

nav.bottom {
    margin-top: 25px;
}

.main-nav {
    margin: 10px;
}

.list-body {
    margin-top: -3px;
}

#app {
    margin: 10px;
}

.hsImage {
    width: 25%;
    height: 75%;
}

.deck-list {
    height: 350px;
}