@import "../../../css/_utils";

.class-container {
    margin-top: 5px;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;

    @include for-tablet-portrait-up {
        width: 70%
    }
    @include for-desktop-up {
        width: 70%
    }


    .ui.form {
        margin-right: 3.5px;
    }

    .ui.input {
        margin-right: 3px;
    }

    .class-list-body {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 10px;

        @include for-tablet-portrait-up {
            width: 60%;
        }

        @include for-desktop-up {
            width: 70%
        }
    }

    h2 {
        margin: 10px;
        color: $jet;
        display: inline;
    }

    h3 {
        font-weight:  100;
        display: inline;
    }


.class-entries {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: wrap;

    a {
        width: 33%
    }
}

    .hsImage--3 {
        width: 60%;
        display: block;
        margin: -15px auto;

        @include for-tablet-portrait-up {
            width: 70%;
            margin: -6px auto;
        }

        @include for-desktop-up {
            width: 60%
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
    
}
